<html data-ng-app="app" >
<head>
    <title>
        {{title}}
    </title>
    <script src="~/Scripts/angular.min.js"></script>
</head>
<body data-ng-controller="MoviesController">
    @RenderBody()
    
    <button data-ng-click="getMovies()">Clickie</button>
    
    {{movies}}

    <script src="~/app/app.js"></script>
    <script src="~/app/movie/MoviesController.js"></script>
    <script src="~/app/movie/MoviesService.js"></script>

</body>
</html>