<html data-ng-app="app">
<head data-ng-controller="moviesController">
    <title>
        {{title}}
    </title>
    <script src="~/Scripts/angular.min.js"></script>
</head>
<body>
    @RenderBody();

    <script src="~/app/app.js"></script>
    <script src="~/app/movie/MoviesController.js"></script>
    <script src="~/app/movie/MoviesService.js"></script>
</body>
</html>